/* PropertyOfTheDay.module.css */

/* General styles for the background */
.PropertyOfTheDayBg {
  background-color: rgb(0, 112, 115);
color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding-top: 150px;
}

/* Styles for the property image */
.PropertyImage {
  width: 700px;
  height: 400px;
}

/* Styles for the property details title */
.PropertyDetailsTitle {
  font-size: 26px;
  color: rgb(255, 215, 0) ;
  margin-top: -15px;
}

/* Styles for the main property details */
.PropertyDetails {
  font-size: 28px;
  border-radius: 30px;
  min-height: 300px !important;
}

/* Styles for the details and form section */
.DetailsAndForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Styles for property details and contact form columns */
.PropertyDetails,
.ContactForm {
  width: 40%;
  box-sizing: border-box;
  margin: 20% auto;
}

/* Styles for property name size in details */
.DetailPropertyNameSize {
  font-size: 1rem;
  line-height: 2.5;
}

/* Styles for the contact form */
.ContactForm form {
  display: grid;
  gap: 10px;
  margin-top: -50px;
  min-width: 300px !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #002b5b;
  border-radius: 30px;
}

.ContactForm label {
  display: block;
  margin-bottom: 5px;
}

.ContactFormTitle {
  color: rgb(255, 215, 0) ;
}

.ContactForm input,
.ContactForm textarea {
  background: rgb(0, 112, 115);
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.ContactForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .DetailsAndForm {
    flex-direction: column;
  }

  .PropertyDetails,
  .ContactForm {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .PropertyImage {
    max-width: 100%;
    max-height: 250px;
  }

  .PropertyDetails {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 300px;
    margin-left: 10px;
  }

  .ContactForm {
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1000px) {
  .PropertyDetails,
  .ContactForm {
    margin-right: 60px;
  }
}

/* Styles for the carousel */
.carousel-root {
  max-width: 700px;
}

.carousel .control-prev,
.carousel .control-next {
  font-size: 24px;
  padding-top: 200px !important;
  background: none !important;
}

.carousel .control-prev {
  margin-left: 20px;
  border-radius: 50px;
  height: 25px;
  padding-top: 190px !important;
}

.carousel .control-next {
  margin-right: 20px;
  border-radius: 50px;
  height: 25px;
  padding-top: 190px !important;
}
