/* ViewProperties.css */

/* General styles for the background */
.ViewPropertiesBg {
  background-color: rgb(193, 218, 226);

  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding-top: 150px;
}

/* Styles for the property image */
.PropertyImage {
  width: 700px;
  height: 400px;
}

/* Styles for the property details title */
.PropertyDetailsTitle {
  font-size: 26px;
  color: #f69314;
  margin-top: -15px;
}

/* Styles for the main property details */
.PropertyDetails {
  font-size: 28px;
  border-radius: 30px;
  min-height: 300px !important;
}

/* Styles for the details and form section */
.DetailsAndForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Styles for property details and contact form columns */
.PropertyDetails,
.ContactForm {
  width: 40%;
  box-sizing: border-box;
  margin: 20% auto;
}

/* Styles for property name size in details */
.DetailPropertyNameSize {
  font-size: 1rem;
  line-height: 2.5;
}

/* Styles for the back button */
.BackButton {
  margin-top: 20px;
}

/* Styles for the green button */
.green-button {

  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .DetailsAndForm {
    flex-direction: column;
  }

  .PropertyDetails,
  .ContactForm {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .PropertyImage {
    max-width: 100%;
    max-height: 250px;
  }

  .PropertyDetails {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 300px;
    margin-left: 10px;
  }

  .ContactForm {
    margin-top: 30px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1000px) {
  .PropertyDetails,
  .ContactForm {
    margin-right: 60px;
  }
}
