.HeaderPrimary {
  background: rgb(0, 51, 102);
  transition: background-color 0.3s ease;
  position:relative;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 25px;
margin-bottom: -15px;
}
.HeaderPrimary.contact {
  background-color: rgb(0, 112, 115); 
  color: white; 
}
.HeaderPrimary.resume {
  background-color: #002B5B;
  max-height: 30px;
}
.HeaderPrimary.portfolio {
  background-color: #EA5455;
}


.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center !important;
}

.logo {

  max-width: 150px;
  font-weight: bold;
  color: #ffe9e9;
  text-decoration: none;
}

.logo:hover {
  color: rgb(0, 0, 0);
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #000000;
}

.mobile-menu-icon {
  display: none;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

.MMI-icon {
  height: 35px;
}

.container .navbar.open ul,
.container .navbar.open {
  display: flex;

  margin-left: 20px;
  border-radius: 0 0 10px 10px;
  background-color: rgb(0, 112, 115);
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 75%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: transparent;
  }
  .container .navbar.open ul,
  .container .navbar.open {
    display: flex;
   
  max-width: 120px;
    margin-left: -40px;
    border-radius: 0 0 15px 15px;
    background-color: rgb(0, 112, 115);
  }
  .navbar ul li a {
    text-decoration: none;
    color: #fdfdfd;
    transition: color 0.3s ease;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .navbar ul li {
    margin-left: 20px;

  }
  .container .navbar.open ul,
.container .navbar.open {
  background: transparent;

}
}
